<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="cn.person.musicspider.mapper.CommentMapper">
 	<sql id="comment_column">
			comment_id,
			user_id,
			relation_id,
			content,
			be_replied,
			relation_type,
			praise_count,
			comment_time
	</sql>
 	<resultMap type="commentsVo" id="commentsVo">
 		<id column="comment_id" property="commentId"/>
		<result column="user_id" property="userId"/>
		<result column="relation_id" property="relationId"/>
		<result column="content" property="content"/>
		<result column="be_replied" property="beReplied"/>
		<result column="relation_type" property="relationType" typeHandler="cn.person.musicspider.dao.handler.EnumHandler"/>
		<result column="praise_count" property="praiseCount"/>
		<result column="comment_time" property="commentTime"/>
 	</resultMap>
 	<select id="getCommentById" resultMap="commentsVo">
		SELECT
			<include refid="comment_column"/>
	  	FROM
	  		cs_comment
	  	WHERE
	  		comment_id=#{commentId}
	</select>

 	<select id="countByParam" resultType="long">
 		SELECT
			COUNT(comment_id)
		FROM
			cs_comment
 	</select>
 	
 	<insert id="insertComment" parameterType="comment">
 		INSERT INTO `cs_comment` (
 			<trim suffixOverrides=",">
				<if test="commentId!=null">
					`comment_id`,
				</if>
				<if test="userId!=null">
					`user_id`,
				</if>
				<if test="relationId!=null">
					`relation_id`,
				</if>
				<if test="content!=null">
					`content`,
				</if>
				<if test="beReplied!=null">
					`be_replied`,
				</if>
				<if test="relationType!=null">
					`relation_type`,
				</if>
				<if test="praiseCount!=null">
					`praise_count`,
				</if>
				<if test="commentTime!=null">
					`comment_time`,
				</if>
				<if test="updateTime!=null">
					`update_time`,
				</if>
			</trim>
		)
		VALUES
			(
				<trim suffixOverrides=",">
					<if test="commentId!=null">
						#{commentId},
					</if>
					<if test="userId!=null">
						#{userId},
					</if>
					<if test="relationId!=null">
						#{relationId},
					</if>
					<if test="content!=null">
						#{content},
					</if>
					<if test="beReplied!=null">
						#{beReplied},
					</if>
					<if test="relationType!=null">
						#{relationType,typeHandler=cn.person.musicspider.dao.handler.EnumHandler},
					</if>
					<if test="praiseCount!=null">
						#{praiseCount},
					</if>
					<if test="commentTime!=null">
						#{commentTime},
					</if>
					<if test="updateTime!=null">
						#{updateTime},
					</if>
				</trim>
			);
 	</insert>
 </mapper>