<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace:映射文件的唯一标识,如果采用动态代理方式调用，则必须为接口全类名 -->
<mapper namespace="cn.person.musicspider.mapper.SingerMapper">
	<!-- 开启二级缓存 -->
	<cache
  eviction="FIFO"
  flushInterval="60000"
  size="512"
  readOnly="false"/>

	<select id="findSingerList" parameterType="singer" resultType="singer">
		SELECT
			s.singer_id,
			s.singer_name,
			s.title,
			s.is_hot,
			s.photoURL,
			s.tag,
			s.descipt,
			s.update_time
		FROM
			cs_singer s
		LIMIT #{offset},#{limit};
	</select>
</mapper>