<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="cn.person.musicspider.mapper.SongMapper">
  <select id="findSongsList" resultType="song">
  	SELECT
			s.song_id,
			s.song_name,
			s.title,
			s.lyric,
			s.comment_count,
			s.duration,
			s.score
		FROM
			cs_song s
		LIMIT #{offset},#{limit};
  </select>
  </mapper>